html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #F11F1F;
    font-family: 'Irish Grover';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.section1 {
    background-color: gray;
    height: 523px;
    background-image:
      linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.52) 0%, rgba(255, 255, 255, 0) 100%),
      url(svgs/background\ furry1.png),
      url(svgs/background\ furry2.png), 
      url(svgs/background\ furry3.png);
    background-position: left, center, right;
    background-repeat: no-repeat;
    background-size: auto, 700px;
}

.menu {
    display: flex;
    height: 64px;
    margin: 0px 96px;
}

.logo {
    width: 50%;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.logo>p { margin: 5px;}

.menu-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

                                          .home, .about-us { 
                                              margin: 16px;
                                              font-family: 'Montserrat', sans-serif;
                                              font-size: 16px;
                                              color: white;
                                            }
.premium { 
    margin: 16px 0px 16px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: 0 0px 0px #FFF, 0 -2px 10px rgb(254, 254, 144), 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 1px 8px rgba(206,89,55,0);
}

.title {
    display: flex;
    justify-content: center;   
    flex-direction: column;

    height: 474px;
    align-items: center;
    color: white;
}

h1{
    font-family: 'Krona One', sans-serif;
    font-size: 39.06px;
    margin: 16px;
}

button {
    height: 34px;
    background-color: #822900;
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 128px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main { 
    font-family: 'Irish Grover';
    display: grid;
    grid-template-columns: 
        repeat(5, 1fr);
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 1px 8px rgba(206,89,55,0);
}

.welcome {
    padding:50px;
    grid-column: span 3;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 1px 8px rgba(206,89,55,0);
}
.welcome > p {
    color: black;
    font-size:40px;
    display: flex;
    justify-content: center;
    text-shadow: rgba(255,162,0,0.9) 0px 0px 149px;
}
#subtext {
    font-size: 20px;;
    padding:30px;
    text-shadow: rgba(255, 228, 51, 0.9) 0px 0px 149px;
    text-align: center;
}

.features {
    display: flex;
    align-items: baseline;
}
.breeds, .companion, .algo { 
    justify-content: center;
    text-align: center;
}   

h4 {
    font-weight: 600;
    font-size: 20px;
}

#algo { padding: 50px; }

.features > img { width: 40px; }

.contact-us{
    grid-column: span 5;
    height: 50px;
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: center;
    text-shadow: none;
}

#frick, #frick1 { font-size: 60px;}

.about-us-section {
    margin: 40px 200px;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: rgba(255,242,0,1) 5px 10px 40px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.hook-ups {
    margin: 50px 100px;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: rgba(255,242,0,1) 5px 10px 40px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
